In [1]:
import numpy as np
import pandas as pd
import string

## Soal 1

In [2]:
ser = pd.Series(data = np.arange(26), index = list(string.ascii_lowercase))

In [3]:
ser

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

## Soal 2

In [4]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [5]:
pd.Series(d1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

## Soal 3

In [6]:
np.random.seed(101)
num_series = pd.Series(np.random.randint(1, 5, 100))
num_series

0     4
1     4
2     2
3     3
4     4
     ..
95    4
96    1
97    3
98    3
99    3
Length: 100, dtype: int32

In [7]:
num_series.value_counts()

4    36
1    30
3    18
2    16
dtype: int64

In [8]:
topfreq = num_series.value_counts()[:2].values
topidx = num_series.value_counts()[:2].index
print('Top 2 Freq are {} with freq {} and {} with freq {}'. format(topidx[0],topfreq[0],topidx[1],topfreq[1]))

Top 2 Freq are 4 with freq 36 and 1 with freq 30

In [9]:
# yang freq teratas tetap, lainnya jadikan other
for i in num_series.index:
    if num_series[i] != 4 :
        num_series[i] = 'Others'
num_series

0          4
1          4
2     Others
3     Others
4          4
       ...
95         4
96    Others
97    Others
98    Others
99    Others
Length: 100, dtype: object